# dependencies
/node_modules

# environment variables
.env
.env.local
.env.development
.env.production
.env.test

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# build outputs
/dist
/build

# database
*.sqlite
*.db
*.sqlite-shm
*.sqlite-wal

# prisma
/prisma/dev.db
/prisma/dev.db-journal

# OS / editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# cache
/.cache
/.temp

# uploads (optional)
uploads/
public/uploads/
tmp/
